.navStyle{
  color:red;
  background:green;
}

.navLinkStyle{
  color:yellow;
  
}

.filmListStyle{
  margin:20px;
}

.jumbotronStyle{
  margin:20px;
  background-image:url(./airplane.jpg);
  background-size: cover;
  height:600px;
}

.styleThisDiv{
  background:blue;
}

.divOftable{
  margin-right:10px;
  margin-left:10px;
}