@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family:'Roboto', sans-serif;
}
.appsBackground{
  background:green;
}

.navStyle{
  color:red;
  background:green;
}

.navLinkStyle{
  color:yellow;
  color:#fd7804;
}

.notFoundStyle{
  margin-top:10%;
  text-align: center;
}

.flightListStt{
  display:flex;
  flex-flow: row;
  /* display: inline-block;
  white-space: nowrap;
  display:inline-block; */
}

.filmListStyle{
  margin:20px;
}

.jumbotronStyle{
  margin:20px;
  background-image:url(./airplane.jpg);
  background-size: cover;
  height:600px;
}

.styleThisDiv{
  background:blue;
}

.divOftable{
  margin-right:10px;
  margin-left:10px;
}

.searchContainer{
  text-align:center;
  margin:auto;
}

.h3Styles{
  margin-right:10px;
  margin-left:10px;
  font-size: 30px;
  color:#2c3e50;
}


.formTitle{
  font-size: 30px;
  color:#2c3e50;
}

.button {
  background-color: #fd7804;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  margin:30px;
}

.button:focus,
.button:hover {
  background-color: #ee7c18;
  color: White;
}